    .footer{
    height: 50px;
    background-color: $main-color;
    display: flex;
    justify-content: space-around;
    &__github,&__rsschool, &__span{
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        z-index: 3;
        font-weight: 600;
        font-size: 24px;
        a{
            display: block;
            width: 100%;
            text-decoration: none;
            color: black;
            i{
                font-size: 36px    
            } 
        }  
    }
}