	main{background-color: $white-color;}
	.main{
    &__flex{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        background: $main-bg-color;
        width: 55%;
		margin-right: 20px;
		padding-bottom: 20px;
    }
    &__right{
		background: $main-bg-color;
		width: 45%;
		padding-bottom: 20px;  
    }
	&__education, &__skills, &__workexperience, &__work{
		margin: 25px auto;
		width: 90%;
		text-align: center;
		color: $white-color;
		h2{
		font-weight: 600;
		font-size: 30px;
		text-transform: uppercase;
		}
	}
	&__university,&__college,&__courses{
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			text-align: justify;
			margin-top: 10px;
			span{

			}
		}
	&__college{
		color: $second-color;
	}
	&__courses{
		display: flex;
		justify-content: flex-start;
		span{
			display: block;	
		}		
	}
	&__gridparent{
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fill, 140px);
		justify-items: center;
		align-items: center;
		justify-content: center;
	}
	&__gridelement{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
 		width: 100%; 
		text-transform: uppercase;
		&__img{
			width: 70%;			
		}
		span{
			color: $second-color;
			font-weight: 600;	
		}
	}
	&__english{
		margin-top: 25px;
	}
	&__phone{
		display: flex;
		width: 50%;
		justify-content: flex-start;
		align-items: center;
		margin-left: 5%;
		margin-top: 25px;
	}
	&__flexlogo, &__flexlinks{
		width: 100%;
		height: 120px;	
	}
	&__flexlogo{
		background-color: $main-color;
		width: 30%;
		border-radius: 2.5px;
	}
	&__flexlogoicon{
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		svg{
			width: 70px;
			height: 70px;
		}	
	}
	&__flexlogotext{
		height: 50%;
		display: flex;
		align-items: center;
		padding-left: 20px;
		color: $white-color;
		font-weight: 500;
		font-size: 18px;
		a{
			color: $white-color;
			text-decoration: none;
			transition: .3s all;
			&:hover{
				color: $second-color;	
			}
		}
	}
	&__work{
		&-grid{
		margin-top: 10px;
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fit, 70px);
		justify-items: center;
		justify-content: center;
		gap: 10px 20px;
		&-element{
			display: inline-block;
			width: 70px;
			height: 70px;
			a{
				display: flex;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				transition: .3s all;
				background-color: #fff;
				border-radius: 100%;
				&:hover{
					background-color: $second-color ;
					border-radius: 10%;
				}	
			}	
		}
		}
		
	}

}
